@charset "utf-8";

.inner{width:1200px;margin:0 auto;}
#wrap{width:100%;min-width:1200px;}
.top{position:fixed;bottom:30px;right:0px;}


#header{position: absolute;z-index: 999;width:100%;}
#header .inner{display: flex;flex-wrap:nowrap;}
#header h1 a{margin-top:35px;display: block;background:url(../images/logo2.png) no-repeat;height:80px;width:220px;}

#nav1{height:40px;position: relative;margin-bottom:150px;}
#nav1 .inner{position:relative;}
#nav1 .depth1{display:flex;} 
#nav1 .depth1 > li{width:100px;padding:0px 50px;}    
#nav1 .depth1 > li:hover{border-bottom:5px solid skyblue;}
#nav1 .depth1 > li >  a{display:block;text-align:center;line-height:30px;
                       color:#fff;font-weight:bold;padding-top:40px;padding-bottom:10px;} 
#nav1 .depth1 ul{display:flex;justify-content: center;color:#fff;
    padding:10px 5px;line-height:1.5em;height:0;opacity:0;
    overflow:hidden;transition:height 0.5s;
    border-top:5px;position: absolute;width:66%;left:0;top:85px;background-color: rgba(255,255,255,0.5);} 
#nav1 .depth1 ul li{ padding:0px 40px}
#nav1 .depth1 ul li:hover{text-decoration: underline;color: #303030;}
#nav1 .depth1 > li:hover ul{height:20px;opacity:1;} 

#header .title{text-align:center;color:#fff;margin-top: 100px;}
#header .title h1{margin-bottom:20px;}
#header .title h1 span{font-size:1rem;}
#header .title .sun{background:url(../images/sun.png) no-repeat;background-size:25px;padding-left:28px;margin-right:10px;}
#header .title a{background-color:rgba(0,0,0,0.5);padding:2px 10px;border-radius:10px;}
#header .language{position: absolute;margin-left:1040px;margin-top:40px;height:40px;overflow: hidden;}
#header .language:hover{height: 200px;transition: height 0.5s;}
#header .language:hover button:first-child{background-color: rgba(255,255,255,0.5);color: #303030;}
#header .language button{border:transparent;background-color: rgba(255,255,255,0.5);color: #303030;padding:5px 10px;display:block;line-height: 30px;width:130px;text-align: left;padding-left:20px;}
#header .language button:hover{text-decoration:underline}
#header .language button:first-child{background:none;color: #fff;}  

#section1{margin-bottom:200px;}
#section1 .video_box{overflow:hidden;height:800px;}
#section1 .video_box video{width:100%;min-width: 1200px;position:relative;
  top:50%;transform: translate(0,-50%);}
#section1  .frame{position: absolute;bottom:0px;}
#section1  .frame img{width: 100%;}

#section2 {margin-bottom:100px;}
#section2 .sec2{display:flex;justify-content:space-between;}
#section2 article{width:calc(100%/2);}
#section2 .price h2{font-size:1.5rem;margin-bottom:20px;}
#section2 .price h2 span{background:url(../images/price.png) no-repeat;background-size:55px;padding-left:40px;}
#section2 .price .cablecar{background:url(../images/cablecar.png) no-repeat;background-size:20px;margin-left:20px;margin-bottom:10px;font-weight:500;}
#section2 .price table{border-collapse:collapse;border:1px solid #ccc;text-align:center;margin-left:40px;width:400px;margin-bottom:20px;}
#section2 .price th, #section2 .price td{border:1px solid #ccc;padding:3px 6px;}


#section2 .sale{margin-bottom:30px;}
#section2 .sale h2 span{background:url(../images/sale.png) no-repeat;background-size:55px;padding-left:50px;margin-bottom:10px;}
#section2 .event{text-align: center;}
#section2 .event img:hover{box-shadow:2px 2px 2px 2px rgba(78, 78, 78, 0.5);}

.slider{
  width: 100%;
  height: 220px;
  position: relative;
  margin-top:20px;
  
}
.slider input[type=radio]{
  display: none;
}
ul.imgs{
  padding: 0;
  margin: 0;
}
ul.imgs li{
  position: absolute; /* 슬라이드가 겹쳐서 모여야 하므로 absolute 속성으로 배치 */
  opacity: 0; /* 체크한 라디오박스 순서의 슬라이드만 표시되도록 기본 투명도 설정 */
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.bullets{
  position: absolute;
  left: 50%; /* 가로로 가운데 정렬 */
  transform: translateX(-50%);
  bottom: 40px; /* 슬라이드 밑에서 20px 간격 띄움 */
  z-index: 2; /* 슬라이드 위에 보이도록 레이어 순위를 높임 */
}
.bullets label{
  display: inline-block; /* 한 줄로 불릿 나열*/
  border-radius: 50%; /* 원형 불릿으로 처리 */
  background-color: rgba(122, 122, 122, 0.55);
  width: 15px; /* 불릿 너비 */
  height: 15px; /* 불릿 높이 */
  margin:0px 7px;
  cursor: pointer;
}
.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
  background-color: skyblue;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
  background-color: skyblue;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
  background-color: skyblue;
}
.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
  background-color: skyblue;
}
.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
  opacity: 1;
  transition: 1s;
  z-index: 1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
  opacity: 1;
  transition: 1s;
  z-index: 1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
  opacity: 1;
  transition: 1s;
  z-index: 1;
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
  opacity: 1;
  transition: 1s;
  z-index: 1;
}
ul.imgs li{
  position: absolute;
  opacity: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  transition-delay: 0.5s; /* 트랜지션 지연 시간 지정 */
}
.slider .txt_box{margin-left:30px;margin-top:20px}
.slider .txt_box p{margin-bottom:15px;}
.slider .txt_box a{color: #fff;background-color: #f3bf11;padding:5px 10px;}

#section3{margin-bottom:150px;}
#section3 .title2{text-align:center;margin-bottom:100px;}
#section3 .title2 h1{font-size:2rem;}
#section3 .title2 h1 span{background:url(../images/enjoy.png) no-repeat;background-size:45px;padding-left:42px;}
#section3 .inner{display: flex;flex-wrap:nowrap;}
#section3 .inner > div{width:calc(100%/2);} 

#section3 .best p{overflow:hidden;width:480px;}
#section3 .best:hover img{transform: scale(1.3);transition: 0.5s ease-out;}
#section3 .best_bottom{background: url(../images/best_back.png) no-repeat;background-size:60px;background-position-x:205px;background-position-y:30px;background-color: #004693;width: 420px;color: #fff;padding: 30px 30px;border-bottom-right-radius:80px;}
#section3 .best_bottom:hover .underline{text-decoration:underline;}
#section3 .best_bottom h2{margin-bottom:10px;}
#section3 .best_bottom p > a{display: inline-block;border:1px solid #fff;border-radius: 30px;padding:5px 20px;margin-top:20px;}
#section3 .best_bottom p > a:hover{background-color: #fff;color: #004693;transition: 0.5s;}


#section3 .enjoy{display:flex;flex-wrap: wrap;justify-content:space-between;}
#section3 .enjoy li{width:calc((100% - 100px)/3);border:1px solid #ccc;border-bottom-right-radius:30px ;padding-bottom:20px;height: 270px;}
#section3 .enjoy li img{margin-bottom:5px;transform: translate(-25px,-20px);}
#section3 .enjoy li .left{background-color: #fff;transform: translate(-33px,-10px);padding:10px 0px;}
#section3 .enjoy .border{margin-bottom:5px;border-left:3px solid #ccc;border-right: 3px solid #ccc;padding:0px 10px;display: inline-block;margin-left:10px;}
#section3 .enjoy h3{margin-bottom: 10px;padding-left: 10px;}
#section3 .enjoy .intro{color: #004693;padding-left: 10px;}

#section3 .enjoy li:first-child{margin-bottom:90px;}
#section3 .enjoy li:nth-child(2){margin-top:90px;}
#section3 .enjoy li:nth-child(3){margin-top:-90px;}
#section3 .enjoy li:nth-child(4){margin-bottom:90px;}
#section3 .enjoy li:nth-child(5){margin-top:90px;}
#section3 .enjoy li:nth-child(6){margin-top:-90px;}
#section3 .enjoy li:nth-child(8){margin-top:90px;}
#section3 .enjoy li:nth-child(9){margin-top:-90px;}
#section3 .enjoy li:nth-child(11){margin-top:90px;}
#section3 .enjoy li:nth-child(12){margin-top:-90px;}

#section3 .enjoy li:hover p:last-child{text-decoration:underline; }
#section3 .enjoy .hidden{display: none;}

#section4{margin-bottom:100px;}
#section4 .title3{text-align:center;margin-bottom:100px;}
#section4 .title3 h1{font-size:2rem;}
#section4 .title3 h1 span{background:url(../images/place.png) no-repeat;background-size:40px;padding-left:36px;}

#section4 .back_img img{position: absolute;}



#section4 .around{display: flex;flex-wrap: nowrap;justify-content: space-between;padding-top: 300px;}
#section4 .around a{border:2px solid rgba(255, 255, 255,0.5);border-radius: 100px;background-color: transparent;color: #fff;padding:0px 15px;font-size:2rem;display: none;}
#section4 .around p{margin-bottom: 30px;}
#section4 .around div:hover h4, #section4 .around div:hover p{transform: translateY(-50px);transition: 0.5s;}
#section4 .around div:hover a{display: inline-block;transform: translateY(-30px);}
#section4 .around div:hover p{text-decoration:underline;}

#section4 .around > div {width:calc((100% - 100px)/3);height:500px;background-repeat:no-repeat;background-size:cover;color: #fff;text-align: center;display:flex;flex-wrap: wrap;align-content: center;position:relative}
.around > div:before{
  content:'';display:block;
  position:absolute;width:100%;height:100%;
  background-color:rgba(0,0,0,0.5);
  top:0;left:0;
  z-index:1
}
#section4 .around > div .back{width:80%;margin: auto;position:relative;z-index:2;height:250px;}
#section4 .content1{background-image:url(../images/sec4_1.jpg)  }
#section4 .content1 h4{font-size: 2em;margin-bottom:30px;border:2px solid rgba(255,255,255,0.5);padding:5px}
#section4 .content1 p{line-height: 2em;}
#section4 .content2{background-image:url(../images/sec4_2.jpg) }
#section4 .content2 h4{font-size: 2em;margin-bottom:30px;border:2px solid rgba(255,255,255,0.5);padding:5px}
#section4 .content2 p{line-height: 2em;}
#section4 .content3{background-image:url(../images/sec4_3.jpg)  }
#section4 .content3 h4{font-size: 2em;margin-bottom:30px;border:2px solid rgba(255,255,255,0.5);padding:5px;font-weight: 500}
#section4 .content3 p{line-height: 2em;}

#section5{background: url(../images/sec5_back.png);padding:100px 0}
#section5 .inner{display:flex;justify-content:space-between;padding-top:100px;color:#fff;}
#section5 .inner > div{width:calc((100% - 70px)/2);border:2px solid rgba(255,255,255,0.5);padding:30px 0px}
#section5 .inner h2{margin-bottom:20px;margin-left: 20px;}
#section5 .inner h2 p{font-size:1rem;font-weight:400;}
#section5 .flex{display: flex;justify-content: space-between;padding:0px 20px}
#section5 .inner .content{line-height: 30px;}
#section5 .inner .date{line-height: 30px;}
#section5 .inner .content p:hover{text-decoration:underline;}

#footer{background-color: #303030;color:#fff;font-size:0.8rem;}
#footer .inner{display:flex;flex-wrap:nowrap;padding:30px 0}
#footer img{padding:0px 110px}
#footer p:last-child{padding-top:10px;}
